<div class="center jumbotron">
	<h1>The Clubhouse</h1>
		<p>Welcome to the Clubhouse. Here you can share stories about people, and be completely anonymous.</p>

		<%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
</div>